.container, .container-small {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@each $screen, $layout in $screen-layout-container {
  @media (min-width: $screen) {
    .container {
      max-width: $layout;
    }
  }
}

@each $screen, $layout in $screen-layout-container-small {
  @media (min-width: $screen) {
    .container-small {
      max-width: $layout;
    }
  }
}