@each $header, $styles in $header-styles-mobile {
	@for $i from 1 through length($header) {
		#{$header},
		.#{$header} {
			font-size: #{$styles}px;
			line-height: #{$styles}px;
			margin: 0;
			overflow-wrap: break-word;
		}
	}
}

@media (min-width: 768px) {
	@each $header, $styles in $header-styles-desktop {
		@for $i from 1 through length($header) {
			#{$header},
			.#{$header} {
				font-size: #{$styles}px;
				line-height: #{$styles}px;
			}
		}
	}
}
