h1 {
	margin: 0;
	overflow-wrap: break-word;
	color: #21243D;
	// font-size: 44px;
	font-style: normal;
	font-weight: 700;
	// line-height: 60px;
	font-size: 32px;

	@media (min-width: 375px) {
		font-size: 36px;
	}

	@media (min-width: 576px) {
		font-size: 40px;
	}

	@media (min-width: 1200px) {
		font-size: 44px;
	}
}

h2 {
	margin: 0;
	overflow-wrap: break-word;
	color: #21243D;
	font-size: 28px;
	font-style: normal;
	font-weight: 600;
	line-height: normal;

	@media (min-width: 576px) {
		font-size: 30px;
	}

	@media (min-width: 992px) {
		font-size: 32px;
	}
}

h3 {
	margin: 0;
	overflow-wrap: break-word;
	color: #21243D;
	font-size: 22px;
	font-style: normal;
	font-weight: 500;
	// line-height: 60px;

	@media (min-width: 576px) {
		font-size: 24px;
	}

	@media (min-width: 992px) {
		font-size: 26px;
	}
}
