.header {
    display: flex;
	align-items: center;
	justify-content: flex-end;
	padding-top: 27px;
	padding-bottom: 105px;
}

.header .nav {
    display: flex;
	align-items: center;
	column-gap: 33px;
}