.header {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	padding: 30px 30px 40px;
	max-width: auto;

	@media (min-width: 768px) {
		padding: 27px 60px 80px;
	}

	@media (min-width: 1200px) {
		padding: 27px 60px 105px;
	}

	.nav {
		display: flex;
		align-items: center;
		column-gap: 30px;

		&-link {
			font-size: 20px;
			font-style: normal;
			font-weight: 500;
			line-height: normal;

			color: var(--text-color);

			transition: all .3s linear;

		}
	}
}