<meta charset="UTF-8">

<!-- Адаптирование страницы для мобильных устройств -->
<meta name="viewport"
	content="width=device-width, height=device-height, initial-scale=1.0, user-scalable=no, maximum-scale=1.0" />
<meta http-equiv="X-UA-Compatible" content="ie=edge">

<!-- Запрет распознования номера телефона -->
<meta name="format-detection" content="telephone=no">
<meta name="SKYPE_TOOLBAR" content="SKYPE_TOOLBAR_PARSER_COMPATIBLE">

<!-- Заголовок страницы -->
<title>@@title</title>

<!-- Данное значение часто используют(использовали) поисковые системы -->
<meta name="description" content="">
<meta name="keywords" content="">

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap"
	rel="stylesheet">

<!-- Подключение файлов стилей -->
<link rel="stylesheet" href="./css/style.min.css">