<section class="container-small blog_page">
    <div class="blog_page-title">
        <h1>Blog</h1>
    </div>

    <div class="blog_posts">
        <div class="post">
            <div class="post_title">
                <h2>UI Interactions of the week</h2>
            </div>

            <div class="post_info">
                <div class="post_info-date">
                    <p>12 Feb 2019</p>

                </div>

                <div class="post_info-tag">
                    <span>Express</span>
                    <span>Handlebars</span>
                </div>
            </div>

            <div class="post_text">
                <p>Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat
                    duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.</p>
            </div>
        </div>

        <div class="post">
            <div class="post_title">
                <h2>UI Interactions of the week</h2>
            </div>

            <div class="post_info">
                <div class="post_info-date">
                    <p>12 Feb 2019</p>

                </div>

                <div class="post_info-tag">
                    <span>Express</span>
                    <span>Handlebars</span>
                </div>
            </div>

            <div class="post_text">
                <p>Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat
                    duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.</p>
            </div>
        </div>

        <div class="post">
            <div class="post_title">
                <h2>UI Interactions of the week</h2>
            </div>

            <div class="post_info">
                <div class="post_info-date">
                    <p>12 Feb 2019</p>

                </div>

                <div class="post_info-tag">
                    <span>Express</span>
                    <span>Handlebars</span>
                </div>
            </div>

            <div class="post_text">
                <p>Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat
                    duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.</p>
            </div>
        </div>

        <div class="post">
            <div class="post_title">
                <h2>UI Interactions of the week</h2>
            </div>

            <div class="post_info">
                <div class="post_info-date">
                    <p>12 Feb 2019</p>

                </div>

                <div class="post_info-tag">
                    <span>Express</span>
                    <span>Handlebars</span>
                </div>
            </div>

            <div class="post_text">
                <p>Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat
                    duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.</p>
            </div>
        </div>
    </div>
</section>