<section class="home container">
    <div class="home_content">
        <div class="title">

        </div>

        <div class="text">

        </div>

        <div class="button">
            <button></button>
        </div>
    </div>

    <div class="image">
<img src="./img/photo.png" alt="">
    </div>
</section>

<!-- 
    ```css
.block /* Блок */
.block__element /* Элемент */
.block--modifier /* Модификатор для Блока*/
.block__element--modifier /* Модификатор для Элемента */
```
 -->


<div class="block block--modifier">
    <div class="block__element block__element--modifier">

    </div>
</div>

<button class="button button--width" type="button">
    <span class="button__element">+</span>
    <span class="button__element">Add post</span>
</button>

<button class="button" type="button">
    <span class="button__element button__element--plus">+</span>
    <span class="button__element">Add post</span>
</button>