<section class="home container">
    <div class="home_content">
        <div class="home_title">
            <h1>Hi, I am John,<br> Creative Technologist</h1>
        </div>

        <div class="home_description">
            <p>Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet<br> sint. Velit officia consequat duis
                enim velit
                mollit. Exercitation veniam<br> consequat sunt nostrud amet.</p>
        </div>

        <div class="home_button">
            <button class="btn btn-primary" type="button">Download Resume</button>
        </div>
    </div>

    <div class="home_image">
       <img class="home_image--img" src="./img/photo.png" alt="Sasha">
    </div>
</section>